<footer class="bg-dark text-light pt-5 pb-3">
  <div class="container">
    <div class="row">
      <div class="col-md-3 mb-3">
        <h6>Real Estate</h6>
        <p>We are giving our students the best and suitable services for building their bright future.</p>
        <div class="d-flex gap-2">
          <a href="#"><i class="bi bi-facebook text-white"></i></a>
          <a href="#"><i class="bi bi-twitter text-white"></i></a>
          <a href="#"><i class="bi bi-instagram text-white"></i></a>
        </div>
      </div>

      <div class="col-md-3 mb-3">
        <h6>Company</h6>
        <ul class="list-unstyled">
          <li><a href="#" class="text-light text-decoration-none">About</a></li>
          <li><a href="#" class="text-light text-decoration-none">Careers</a></li>
          <li><a href="#" class="text-light text-decoration-none">Mobile</a></li>
          <li><a href="#" class="text-light text-decoration-none">How it Works</a></li>
        </ul>
      </div>

      <div class="col-md-3 mb-3">
        <h6>Support</h6>
        <ul class="list-unstyled">
          <li><a href="#" class="text-light text-decoration-none">Support Center</a></li>
          <li><a href="#" class="text-light text-decoration-none">24/7 Service</a></li>
          <li><a href="#" class="text-light text-decoration-none">Quick Chat</a></li>
        </ul>
      </div>

      <div class="col-md-3 mb-3">
        <h6>Contact Us</h6>
        <input type="text" class="form-control mb-2" placeholder="Enter your number">
        <button class="btn btn-success w-100">Request a Callback</button>
      </div>
    </div>
    <hr class="border-light" />
    <p class="text-center small">Copyright © 2023 All Right Reserved. Blank agency.</p>
  </div>
</footer>
