<div class="container-fluid py-5" style="background-color: #f3fdf5">
  <div class="container d-md-flex justify-content-between align-items-center gap-4">
    <div class="mb-4 mb-md-0">
      <h4>Subscribe to our newsletter</h4>
      <p class="text-muted mb-3">Get in touch with us to get your dream home. Your comfort is our first priority.</p>
      <div class="input-group">
        <input type="email" class="form-control rounded-start-pill" placeholder="Enter Your Email">
        <button class="btn btn-dark rounded-end-pill">Get Started</button>
      </div>
    </div>
    <img [src]="newsletterImage" alt="Newsletter Visual" class="rounded-4" style="width: 250px;">
  </div>
</div>
